img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

h1 {
    text-align: center;  
}

.background-grey {
    background-color: rgba(128, 128, 128, 0.233);
    
}

div {
    width: 50%;
    margin: auto;
}

hr {
    background-color: orange;
    height: 2px;
    border: none;
}

h2 {
    margin-left: 12px;
    color: rgb(226, 147, 0); 
}

h3 {
    margin-left: 12px;
    font-style: italic;
}

p {
    margin-left: 12px; 
}

.final-text {
    text-align: center;
    font-size: small;
}