img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

h1 {
    text-align: center;  
}

.background-grey {
    background-color: rgba(128, 128, 128, 0.233);
    
}

div {
    width: 50%;
    margin: auto;
}

hr {
    background-color: orange;
    height: 2px;
    border: none;
}